[submodule "library/swfobject"]
	path = "library/swfobject"
	url = "git://github.com/swfobject/swfobject.git"
[submodule "library/swfaddress"]
	path = library/swfaddress
	url = git://github.com/robwalch/swfaddress.git
[submodule "library/greensock"]
	path = library/greensock
	url = git://github.com/greensock/GreenSock-AS3.git
[submodule "library/as3corelib"]
	path = library/as3corelib
	url = git://github.com/mikechambers/as3corelib.git
